<div class="modal fade" role="dialog" aria-labelledby="editFunctionsLabel" id="editFunctions">
	<div class="modal-dialog full-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="editFunctionsLabel" class="modal-title">{{ 'roleType.panel.editFunctions.title' | translate }}</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline" role="form">
					<div class="col-xs-12">
						<input ng-change="searchFunctions()" type="text" id="functionSearch" placeholder="{{ 'roleType.placeholder.functionSearch' | translate }}" class="form-control" ng-model="functionSearchTerm"/>
					</div>
					<div class="col-xs-12" style="margin-top: 10px; height: 70vh; overflow-y: scroll;">
						<table id="functionsTable" class="table">
							<thead>
								<tr>
									<th style="width: 65%">{{ 'roleType.column.function' | translate }}</th>
									<th style="width: 30%">&nbsp;</th>
									<th style="width: 5%">
										<label><input type="checkbox" ng-model="allSelected" ng-change="changeSelection(searched, allSelected)"/></label>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="originalFunction in searched">
									<td style="width: 65%">
										<span ng-repeat="auxName in originalFunction.translatedNamesArray track by $index">
	   										{{ auxName }} <span ng-if="!$last" class="glyphicon glyphicon-chevron-right"></span>
	   									</span>
									</td>
									<th style="width: 30%">({{ originalFunction.constructedNamesArray[originalFunction.constructedNamesArray.length - 1] }})</th>
									<th style="width: 5%">
										<div class="checkbox">
											<label><input type="checkbox" ng-model="originalFunction.selected" ng-change="refreshAllSelected()"/></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" role="dialog" aria-labelledby="orderFunctionsLabel" id="orderFunctions">
	<div class="modal-dialog full-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="orderFunctionsLabel" class="modal-title">{{ 'roleType.panel.orderFunctions.title' | translate }}</h4>
			</div>
			<div class="modal-body">
				<div class="col-xs-12" style="height: 70vh; overflow-y: scroll;">
					<table id="actionsTable" class="table">
						<thead>
							<tr>
								<th ng-colspan="maxLevel + 1">{{ 'roleType.column.action' | translate }} <span class="glyphicon glyphicon-remove operation" ng-click="clearAllOrders()"></span> <span class="glyphicon glyphicon-chevron-up operation" ng-click="addOneToAll()"></span> <span class="glyphicon glyphicon-chevron-down operation" ng-click="subtractOneFromAll()"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="action in actions">
								<td style="width: 10px; text-align: right; vertical-align: middle;">{{ $index }}</td>
								<td ng-class="{ordered: action.functions[0].menuOrder != null, middle: !$last, last3: $last && (3 - $index) == 3, last2: $last && (3 - $index) == 2,  last1: $last && (3 - $index) == 1}"
									class="action"
									ng-colspan="$last ? (maxLevel - $index) : 1"
									ng-repeat="auxName in action.translatedNamesArray track by $index"
									style="vertical-align: middle;">
									{{ auxName }}
									<select style="height: 25px; width: 45px; display: inline; padding: 0px; font-size: 11px;"
										ng-model="action.functions[0].menuOrder"
										ng-options="order as order for order in orderRange" class="form-control"
										ng-change="changeOrderByLevel($index, action)"></select>
									<span ng-if="action.functions[0].menuOrder != null" class="glyphicon glyphicon-remove operation" ng-click="changeOrderByLevel($index, action, true)"></span>									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<!-- Quick Input Form -->
   	<div class="col-xs-4">
   		
   		<form class="form-horizontal" role="form">
   			<!-- type -->
			<input type="hidden" id="id" ng-model="roleType.id"/>
			
			<div class="form-group">
	   			<!-- name -->
	   			<label for="name" class="col-xs-4 control-label">{{ 'roleType.label.name' | translate }}</label>				
				<div class="col-xs-8">
					<input type="text" id="name" placeholder="{{ 'roleType.placeholder.name' | translate }}" class="form-control" ng-model="roleType.name"/>
				</div>
			</div>
			
			<div class="form-group">
				<!-- description -->
				<label for="name" class="col-xs-4 control-label">{{ 'roleType.label.description' | translate }}</label>				
				<div class="col-xs-8">
					<input type="text" id="description"  placeholder="{{ 'roleType.placeholder.description' | translate }}" class="form-control" ng-model="roleType.description"/>
				</div>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-xs-4 control-label">{{ 'roleType.label.resetter' | translate }}</label>				
				<div class="col-xs-8">
					<select id="type" ng-model="roleType.passwordReseterId" ng-options="rt.id as rt.name for rt in roleTypesList" class="form-control"></select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-xs-4 control-label">{{ 'roleType.label.internalType' | translate }}</label>				
				<div class="col-xs-8">
					<select id="typeEnum" ng-model="roleType.roleTypeEnum" ng-options="rte as ('typeRole.name.' + rte | translate) for rte in roleTypeEnumsList" class="form-control"></select>
				</div>
			</div>
		</form>
	</div>
	
	<div class="col-xs-8">
		<div class="col-xs-12">
			<button class="btn btn-default" id="btn_editFunctions" ng-click="editFunctions();">
				{{ 'roleType.label.modifyFunctions' | translate }}
			</button>
			<button class="btn btn-default" id="btn_orderFunctions" ng-click="orderFunctions();">
				{{ 'roleType.label.orderFunctions' | translate }}
			</button>
		</div>
	   	<div class="col-xs-12" style="overflow-y: auto; width: 95%; height: 230px; margin-top: 10px;">
	   		<p ng-if="selected.length == 0">{{ 'roleType.label.noFunction' | translate }}</p>
	   		<ul ng-if="selected.length > 0">
	   			<li ng-repeat="function in selected">
	   				<span ng-repeat="auxName in function.translatedNamesArray track by $index">
	   					{{ auxName }} <span ng-if="!$last" class="glyphicon glyphicon-chevron-right"></span>
	   				</span>
	   			</li>
	   		</ul>
	   	</div>
	</div>
</div>

<div class="row">
   	<div class="col-xs-12">
		<!-- BOTON -->
		<div>
			<button class="btn btn-default" id="btn_create" ng-show="canAccess('/configuration/roleType:createRoleType')" ng-click="create();" ng-disabled="editing">
				{{ 'default.create.new' | translate }}
			</button>

			<button class="btn btn-default" id="btn_modify" ng-show="canAccess('/configuration/roleType:modifyRoleType')" ng-click="modify();" ng-disabled="!editing">
				{{ 'default.edit' | translate }}
			</button>
			
			<button class="btn btn-default" id="btn_cancel" ng-show="canAccess('/configuration/roleType:modifyRoleType')" ng-click="cancel();" ng-disabled="!editing">
				{{ 'default.cancel' | translate }}
			</button>

			<button class="btn btn-default" id="btn_list" ng-show="canAccess('/configuration/roleType:listRoleType')" ng-click="list();" ng-disabled="editing">
				{{ 'default.list.all' | translate }}
			</button>

			<button class="btn btn-default" id="btn_clean" ng-click="clean();" ng-disabled="editing">
				{{ 'default.clean' | translate }}
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<table class="table">
		   	<thead>
				<tr>
					<th class="col-xs-4">{{ 'roleType.column.name' | translate }}</th>
					<th class="col-xs-4">{{ 'roleType.column.description' | translate }}</th>
					<th class="col-xs-4">{{ 'default.operations' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="roleType in roleTypes | orderBy:'name'">
					<td class="col-xs-3">{{ roleType.name }}</td>
					<td class="col-xs-3">{{ roleType.description }}</td>
					<td class="col-xs-3">
						<span class="glyphicon glyphicon-edit operation" ng-show="canAccess('/configuration/roleType:modifyRoleType') && !editing" ng-click="edit(roleType);" data-toggle="tooltip" data-placement="rigth" title="{{ 'tooltip.modify' | translate }}"></span>
						<span class="glyphicon glyphicon-remove operation" ng-show="canAccess('/configuration/roleType:deleteRoleType') && !editing" ng-click="remove(roleType);" data-toggle="tooltip" data-placement="rigth" title="{{ 'tooltip.delete' | translate }}"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">	
		<div ng-paginator="" name-space="roleTypeNameSpace"></div>
	</div>
</div>