<div class="sixteen wide column">
    <form class="ui form" role="form" name="userForm" >
        <div class="inline field">
            <label for="username">{{ 'user.label.username' | translate }}</label>
            <input type="text" ng-model="user.username" id="username" required
               placeholder="{{ 'user.placeholder.username' | translate }}" name="username"/>
        </div>
        <!--<div class="inline field">-->
            <!--<label for="password">{{ 'user.label.password' | translate }}</label>-->
            <!--<input type="password" ng-model="user.password" id="password"-->
               <!--placeholder="{{ 'user.placeholder.password' | translate }}" name="password"/>-->
        <!--</div>-->
        <div class="inline field">
            <label for="roleTypeEnum">{{ 'roleType.label.internalType' | translate }}</label>
            <select id="roleTypeEnum" ng-model="user.role.roleType.roleTypeEnum" required name="roleType"
                ng-options="rte as ('roleType.name.' + rte | translate) for rte in roleTypeEnumsList"></select>
        </div>
    </form>
</div>
<button class="ui green button" id="btn_create" ng-click="create();" ng-disabled="editing" ng-show="!user.id">
    <!--canAccess('/configuration/user:createUser') &&-->
    {{ 'default.create.new' | translate }}
</button>
<button class="ui green button" id="btn_modify" ng-click="modify();" ng-disabled="!editing" ng-show="user.id">
    <!--canAccess('/configuration/user:modifyUser') &&-->
    {{ 'default.edit' | translate }}
</button>
<button class="ui red button" id="btn_cancel" ng-click="cancel();" ng-disabled="!editing" ng-show="user.id">
    {{ 'default.cancel' | translate }}
</button>
<button class="ui button" id="btn_search" ng-click="search();" ng-disabled="editing">
    <!--ng-show="canAccess('/configuration/user:searchUser')"-->
    {{ 'default.search' | translate }}
</button>
<button class="ui button" id="btn_list" ng-click="list();" ng-disabled="editing">
    <!--ng-show="canAccess('/configuration/user:listUser')"-->
    {{ 'default.list.all' | translate }}
</button>
<button class="ui button" id="btn_clean" ng-click="clean();" ng-disabled="editing">
    {{ 'default.clean' | translate }}
</button>
<table class="ui table">
    <thead>
        <tr class="three column row">
            <th class="column center aligned">{{ 'user.column.username' | translate }}</th>
            <th class="column center aligned">{{ 'user.column.roleType' | translate }}</th>
            <th class="column center aligned">{{ 'default.operations' | translate }}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users" class="three column row">
        <td class="column">{{ user.username }}</td>
        <td class="column">{{ user.role.roleType.roleTypeEnum }}</td>
        <td class="column">
            <span class="glyphicon glyphicon-edit operation" ng-click="edit(user);" ng-show="canAccess('/configuration/user:modifyUser') && !editing"></span>
            <span class="glyphicon glyphicon-remove operation" ng-click="remove(user);" ng-show="canAccess('/configuration/user:deleteUser') && !editing"></span>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-12">
        <div ng-paginator="" name-space="userNameSpace"></div>
    </div>
</div>