<?xml version="1.0" encoding="UTF-8"?>
<!-- Persistence deployment descriptor for dev profile -->
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">
	
	<persistence-unit name="ibpnhPU" transaction-type="RESOURCE_LOCAL">
		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
		<!--<non-jta-data-source>java:comp/env/jdbc/ibpnhDS</non-jta-data-source>-->
		<mapping-file>jpa/schema.xml</mapping-file>
		
		<!-- Alert -->
		<class>org.kairos.ibpnh.core.model.alert.Alert</class>
		
		<!-- Parameter -->
		<class>org.kairos.ibpnh.core.model.configuration.parameter.Parameter</class>
		<class>org.kairos.ibpnh.core.model.configuration.parameter.ParameterHistory</class>
		<!-- User -->
		<class>org.kairos.ibpnh.core.model.user.User</class>
		<class>org.kairos.ibpnh.core.model.user.Role</class>
		<class>org.kairos.ibpnh.core.model.user.RoleType</class>
		<class>org.kairos.ibpnh.core.model.user.Function</class>
		<class>org.kairos.ibpnh.core.model.user.RoleFunction</class>
		<class>org.kairos.ibpnh.core.model.user.RoleTypeFunction</class>
		<class>org.kairos.ibpnh.core.model.user.UserDetails</class>
		<!-- Person -->
		<class>org.kairos.ibpnh.core.model.person.Person</class>
		<!-- Document Type -->
		<class>org.kairos.ibpnh.core.model.person.DocumentType</class>
        
        <!-- Mails -->
        <class>org.kairos.ibpnh.core.model.configuration.mail.Mail</class>
        
        <!-- Log -->
        <class>org.kairos.ibpnh.core.model.log.Log</class>
        
        <!-- Password Recovery -->
        <class>org.kairos.ibpnh.core.model.user.PasswordRecover</class>

        <!-- Ant Mark - (Ant append text after this, you have to discomment the previous line ) -->
        
        <properties>
			<property name="eclipselink.target-database" value="org.eclipse.persistence.platform.database.PostgreSQLPlatform"/>
			<property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
			<property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/ibpnh"/>
			<property name="javax.persistence.jdbc.user" value="ibpnh"/>
			<property name="javax.persistence.jdbc.password" value="k4ir0s"/>

    		<!-- Allows the use of Log4J for logging -->
    		<property name="eclipselink.logging.logger" value="org.eclipse.persistence.logging.Slf4jSessionLogger"/>
    		
			<property name="eclipselink.logging.level.sql" value="FINEST"/>
			<property name="eclipselink.logging.parameters" value="true"/>
			
			<property name="eclipselink.logging.session" value="true"/>
			<property name="eclipselink.logging.thread" value="false"/>
			
			<property name="eclipselink.cache.shared.default" value="false"/>

			<property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
			
			<!--  DO NOT attempt to create or update tables 
			<property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
            <property name="eclipselink.ddl-generation.output-mode" value="both"/>
            -->
	 		 	
			<!--<property name="eclipselink.target-database" value="PostgreSQL"/>-->
			<property name="eclipselink.jpa.uppercase-column-names" value="true"/>	
			<property name="eclipselink.allow-zero-id" value="true"/>		
		</properties>
	</persistence-unit>
</persistence>