<div class="row">
   	<div class="col-xs-6">

   		<form class="form-horizontal" role="form" name="myForm" >

   			<div class="form-group">
   				<label for="acronym" class="col-xs-4 control-label">{{ 'documentType.label.acronym' | translate }}</label>
   				<div class="col-xs-8">		   			
					<input type="text" id="acronym" placeholder="{{ 'documentType.placeholder.acronym' | translate }}" class="form-control" ng-model="documentType.acronym"/>
				</div>
			</div>
			
			<div class="form-group">
   				<label for="description" class="col-xs-4 control-label">{{ 'documentType.label.description' | translate }}</label>
   				<div class="col-xs-8">		   			
					<input type="text" id="description" placeholder="{{ 'documentType.placeholder.description' | translate }}" class="form-control" ng-model="documentType.description"/>
				</div>
			</div>
			
		</form>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">

		<button class="btn btn-success" id="btn_create" ng-click="create();" ng-disabled="editing" ng-show="canAccess('/configuration/documentType:createDocumentType') && !documentType.id">
			{{ 'default.create.new' | translate }}
		</button>

		<button class="btn btn-success" id="btn_modify" ng-click="modify();" ng-disabled="!editing" ng-show="canAccess('/configuration/documentType:modifyDocumentType') && documentType.id">
			{{ 'default.edit' | translate }}
		</button>

		<button class="btn btn-danger" id="btn_cancel" ng-click="cancel();" ng-disabled="!editing" ng-show="documentType.id">
			{{ 'default.cancel' | translate }}
		</button>

		<button class="btn btn-default" id="btn_search" ng-click="search();" ng-disabled="editing" ng-show="canAccess('/configuration/documentType:searchDocumentType')">
			{{ 'default.search' | translate }}
		</button>

		<button class="btn btn-default" id="btn_list" ng-click="list();" ng-disabled="editing" ng-show="canAccess('/configuration/documentType:listDocumentType')">
			{{ 'default.list.all' | translate }}
		</button>

		<button class="btn btn-default" id="btn_clean" ng-click="clean();" ng-disabled="editing">
			{{ 'default.clean' | translate }}
		</button>
	</div>

</div>

<div class="row">
	<div class="col-xs-12">
		<table class="table">
		   	<thead>
				<tr>
					<th class="col-xs-3">{{ 'documentType.column.acronym' | translate }}</th>
					<th class="col-xs-3">{{ 'documentType.column.description' | translate }}</th>
	   			    <th class="col-xs-3">{{ 'default.operations' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="documentType in documentTypes" >
					<td class="col-xs-3">{{ documentType.acronym }}</td>
					<td class="col-xs-3">{{ documentType.description }}</td>
					<td class="col-xs-3">
						<span class="glyphicon glyphicon-edit operation" ng-click="edit(documentType);" ng-show="canAccess('/configuration/documentType:modifyDocumentType') && !editing" data-toggle="tooltip" data-placement="rigth" title="{{ 'tooltip.modify' | translate }}"></span>
						<span class="glyphicon glyphicon-remove operation" ng-click="remove(documentType);" ng-show="canAccess('/configuration/documentType:deleteDocumentType') && !editing" data-toggle="tooltip" data-placement="rigth" title="{{ 'tooltip.delete' | translate }}"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div ng-paginator="" name-space="documentTypeNameSpace"></div>
	</div>
</div>