<!--<div class="modal fade" role="dialog" aria-labelledby="testMailModalTitle" id="testMailModal">-->
	<!--<div class="modal-dialog full-width">-->
		<!--<div class="modal-content">-->
			<!--<div class="modal-header">-->
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
				<!--<h4 id="testMailModalTitle" class="modal-title">{{ 'mail.panel.test.title' | translate }}</h4>-->
			<!--</div>-->
			<!--<div class="modal-body">-->
				<!--<form class="form-horizontal" role="form" name="detailForm">-->
					<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.sender' | translate }}</label>-->
				    	<!--<div class="col-xs-9">-->
				      		<!--<p class="form-control-static">{{ testResult.sender }}</p>-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.subject' | translate }}</label>-->
				    	<!--<div class="col-xs-9">-->
				      		<!--<p class="form-control-static">{{ testResult.subject }}</p>-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.toList' | translate }}</label>-->
				    	<!--<div class="col-xs-9">-->
				      		<!--<p class="form-control-static">{{ testResult.toList }}</p>-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.ccList' | translate }}</label>-->
				    	<!--<div class="col-xs-9">-->
				      		<!--<p class="form-control-static">{{ testResult.ccList }}</p>-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.ccoList' | translate }}</label>-->
				    	<!--<div class="col-xs-9">-->
				      		<!--<p class="form-control-static">{{ testResult.ccoList }}</p>-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.body' | translate }}</label>-->
				    	<!--<div class="col-xs-9" id="testMailBody">				      		-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="!testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.footer' | translate }}</label>-->
				    	<!--<div class="col-xs-9" id="testMailFooter">-->
				    	<!--</div>-->
				  	<!--</div>-->
				  	<!-- -->
				  	<!--<div ng-show="testResult.error" class="form-group">-->
				    	<!--<label class="col-xs-3 control-label">{{ 'mail.label.error' | translate }}</label>-->
				    	<!--<div class="col-xs-9">-->
				      		<!--<p class="form-control-static">{{ testResult.error }}</p>-->
				    	<!--</div>-->
				  	<!--</div>-->
				<!--</form>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="sixteen wide column">
	<form class="ui form" role="form" name="mailForm">
		<div class="inline field">
			<label for="name">{{ 'mail.label.name' | translate }}</label>
			<input type="text" ng-model="mail.name" id="name" required placeholder="{{ 'mail.placeholder.name' | translate }}" name="username"/>
		</div>
		<div class="inline field">
			<label for="subject">{{ 'mail.label.subject' | translate }}</label>
			<input type="text" ng-model="mail.subject" id="subject" required placeholder="{{ 'mail.placeholder.subject' | translate }}" name="subject"/>
		</div>
		<div class="inline field">
			<label for="sender">{{ 'mail.label.sender' | translate }}</label>
			<input type="text" ng-model="mail.sender" id="sender" required placeholder="{{ 'mail.placeholder.sender' | translate }}" name="sender"/>
		</div>
		<div class="inline field">
			<label for="toList">{{ 'mail.label.toList' | translate }}</label>
			<textarea ng-model="mail.toList" id="toList" required placeholder="{{ 'mail.placeholder.toList' | translate }}" name="toList"/>
		</div>
		<div class="inline field">
			<label for="ccList">{{ 'mail.label.ccList' | translate }}</label>
			<textarea ng-model="mail.ccList" id="ccList" required placeholder="{{ 'mail.placeholder.ccList' | translate }}" name="ccList"/>
		</div>
		<div class="inline field">
			<label for="ccoList">{{ 'mail.label.ccoList' | translate }}</label>
			<textarea ng-model="mail.ccoList" id="ccoList" required placeholder="{{ 'mail.placeholder.ccoList' | translate }}" name="ccoList"/>
		</div>
		<div class="inline field">
			<label for="body">{{ 'mail.label.body' | translate }}</label>
			<!--<textarea ng-model="mail.body" id="body" required placeholder="{{ 'mail.placeholder.body' | translate }}" name="body"/>-->
			<div ui-codemirror="editorOptions" id="body" ng-model="mail.body"></div>
		</div>
		<div class="inline field">
			<label for="enabled">{{ 'mail.label.bodyJavascript' | translate }}</label>
			<input type="checkbox" ng-model="mail.bodyJavascript" id="bodyJavascript" ng-change="modeChange()"
				   placeholder="{{ 'mail.placeholder.bodyJavascriptNotice' | translate }}" name="bodyJavascript"/>
		</div>
		<div class="inline field">
			<label for="footer">{{ 'mail.label.footer' | translate }}</label>
			<div ui-codemirror="editorOptions" id="footer" ng-model="mail.footer"></div>
		</div>
		<div class="inline field">
			<label for="images">{{ 'mail.label.images' | translate }}</label>
			<p id="images" placeholder="{{ 'default.notImplemented' | translate }}" name="images"/>
		</div>
		<div class="inline field">
			<label for="repetition">{{ 'mail.label.repetition' | translate }}</label>
			<select ng-model="mail.repetition" id="repetition" ng-options="rp.name as rp.label for rp in repetitions"/>
		</div>
		<div class="inline field">
			<label for="sendTimestamp">{{ 'mail.label.sendTimestamp' | translate }}</label>
			<input type="text" ng-model="mail.sendTimestamp" id="sendTimestamp" required placeholder="{{ 'mail.placeholder.sendTimestamp' | translate }}" name="sendTimestamp"/>
			<!--<input data-format="DD/MM/YYYY HH:mm" class="form-control" type="text"-->
				   <!--placeholder="{{ 'mail.placeholder.sendTimestamp' | translate }}"></input>-->
			<!--<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>-->
		</div>
		<div class="inline field">
			<label for="mailFxClass">{{ 'mail.label.fx' | translate }}</label>
			<select id="mailFxClass" ng-model="mail.mailFxClass" ng-options="fx.classCanonicalName as fx.className for fx in fxs"/>
		</div>
		<div class="inline field">
			<label for="fxParameters">{{ 'mail.label.fxParameters' | translate }}</label>
			<p id="fxParameters">{{ fxExposedParams() }}</p>
		</div>
		<div class="inline field">
			<label for="enabled">{{ 'mail.label.enabled' | translate }}</label>
			<input type="checkbox" ng-model="mail.enabled" id="enabled" required name="enabled"/>
		</div>
		<div class="inline field">
			<label for="cron">{{ 'mail.label.cron' | translate }}</label>
			<input type="checkbox" ng-model="mail.cron" id="cron" required name="cron"/>
		</div>
	</form>
</div>
<div class="sixteen wide column">
	<button class="ui green button" id="btn_create" ng-click="create();" ng-disabled="editing" ng-show="canAccess('/configuration/mail:createMail') && !mail.id">
		{{ 'default.create.new' | translate }}
	</button>
	<button class="ui green button" id="btn_modify" ng-click="modify();" ng-disabled="!editing" ng-show="canAccess('/configuration/mail:createMail') && mail.id">
		{{ 'default.edit' | translate }}
	</button>
	<button class="ui red button" id="btn_cancel" ng-click="cancel();" ng-disabled="!editing">
		{{ 'default.cancel' | translate }}
	</button>
	<button class="ui button" id="btn_search" ng-click="search();" ng-disabled="editing" ng-show="canAccess('/configuration/mail:searchMail')">
		{{ 'default.search' | translate }}
	</button>
	<button class="ui button" id="btn_list" ng-click="list();" ng-disabled="editing" ng-show="canAccess('/configuration/mail:searchMail')">
		{{ 'default.list.all' | translate }}
	</button>
	<button class="ui button" id="btn_clean" ng-click="clean();" ng-disabled="editing">
		{{ 'default.clean' | translate }}
	</button>
</div>
<div class="sixteen wide column">
	<table class="ui table">
		<thead>
			<tr class="row">
				<th class="three wide column center aligned">{{ 'mail.column.name' | translate }}</th>
				<th class="three wide column center aligned">{{ 'mail.column.subject' | translate }}</th>
				<th class="three wide column center aligned">{{ 'mail.column.sender' | translate }}</th>
				<th class="two wide column center aligned">{{ 'mail.column.repetition' | translate }}</th>
				<th class="three wide column center aligned">{{ 'mail.column.sendTimestamp' | translate }}</th>
				<th class="column center aligned">{{ 'mail.column.enabled' | translate }}</th>
				<th class="column center aligned">{{ 'default.operations' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="mail in mail" class="row">
				<td class="three wide column center aligned">{{ mail.name }}</td>
				<td class="three wide column center aligned">{{ mail.subject }}</td>
				<td class="three wide column center aligned">{{ mail.sender  }}</td>
				<td class="two wide column center aligned">{{ mail.cron | iif:'mail.repetition.' + mail.repetition:'blank' | translate }}</td>
				<td class="three wide column center aligned">{{ mail.sendTimestamp | dateFormat:'dateTime':false:false }}</td>
				<td class="column center aligned">{{ mail.enabled | iif:'default.yes':'default.no' | translate }}</td>
				<td class="column center aligned">{{ default.operations }}
					<i class="edit icon" ng-click="edit(mail);" ng-show="canAccess('/configuration/mail:modifyMail') && !editing" title="{{ 'tooltip.modify' | translate }}"></i>
					<i class="trash outline icon" ng-click="remove(mail);" ng-show="canAccess('/configuration/mail:deleteMail') && !editing" title="{{ 'tooltip.delete' | translate }}"></i>
					<i class="play icon" ng-click="trigger(mail);" ng-show="canAccess('/configuration/mail:triggerMail') && !editing" title="{{ 'tooltip.trigger' | translate }}"></i>
					<i class="search icon" ng-click="testMail(mail);" ng-show="canAccess('/configuration/mail:triggerMail') && !editing" title="{{ 'tooltip.testTrigger' | translate }}"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="sixteen wide column">
	<div ng-paginator="" name-space="mailNameSpace"></div>
</div>