html {
    position: relative;
    min-height: 100%;
}
/*.main{*/
    /*/!* Margin bottom by footer height *!/*/
    /*min-height: 100%;*/
    /*padding-bottom: 30px;*/
/*}*/
.footer {
    /*position: absolute !important;*/
    /*bottom: 0 !important;*/
    width: 100% !important;
    /* Set the fixed height of the footer here */
    height: 30px !important;
    text-align:center;
    background-image: linear-gradient(to bottom, #727173 0%, #090214 100%)
}
.footer p{
    color: #39b3d7
}

/* Style for Angular UI Bootstrap & cursor*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }