<div class="four column centered row">
	<!--<img class="image-centered hidden-xs hidden-sm" alt="Universe" src="{{ universeCoreServiceUrl + '/images/logo.png' }}">-->
	<!-- Login Form -->
	<form role="form" class="ui form">
		<div class="field">
			<!-- username -->
			<input type="text" id="username" placeholder="{{ 'login.placeholder.username' | translate }}" ng-model="userCredentials.username"/>
		</div>
		<div class="field">
			<!-- password -->
			<input type="password" id="password"  placeholder="{{ 'login.placeholder.password' | translate }}" ng-model="userCredentials.password"/>
		</div>
		<div class="field">
			<!-- remember me -->
			<div class="checkbox">
				<label>
					{{ 'login.remember.me' | translate }} <input type="checkbox" id="rememberme" ng-model="rememberMe"/> <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right"></i>
				</label>
			</div>
		</div>

		<button class="ui button" id="btn_login" ng-click="login();">
			{{ 'login.button' | translate }}
		</button>
		<button ng-show="registrationEnabled && !globalInspectorFlag" class="ui button" id="btn_register" ng-click="register();">
			{{ 'login.register' | translate }}
		</button>
		<a href="" ng-show="registrationEnabled && !globalInspectorFlag" ng-click="recoverPassword();">{{ 'passwordForgot.label.question' | translate }}</a>
	</form>
</div>