<div class="sixteen wide column">
    <form class="ui form" role="form" name="devotionalForm" enctype="multipart/form-data">
        <div class="inline field">
            <label for="title">{{ 'dailyDevotional.label.title' | translate }}</label>
            <input type="text" ng-model="dailyDevotional.title" id="title" required
               placeholder="{{ 'dailyDevotional.placeholder.title' | translate }}" name="title"/>
        </div>
        <div class="inline field" >
            <label for="imageFile">{{ 'dailyDevotional.label.imageUrl' | translate }} </label>
            <input type="file" ngf-select name="imageFile" id="imageFile" ng-hide="editing" ng-model="imageFile"
                   placeholder="{{ 'dailyDevotional.placeholder.imageUrl' | translate }}"/>
            <div class="ui info message" ng-show="editing">
                {{ 'dailyDevotional.modifyImageFileNotallowed' | translate}}
            </div>
        </div>
        <div class="inline field">
            <label for="shortDescription">{{ 'dailyDevotional.label.shortDescription' | translate }}</label>
            <textarea type="text" id="shortDescription" ng-model="dailyDevotional.shortDescription" required
              placeholder="{{ 'dailyDevotional.placeholder.shortDescription' | translate }}" name="shortDescription"></textarea>
        </div>
        <div class="inline field">
            <label for="description">{{ 'dailyDevotional.label.description' | translate }}</label>
            <textarea type="text" ng-model="dailyDevotional.description" id="description" required
              placeholder="{{ 'dailyDevotional.placeholder.description' | translate }}" name="description"></textarea>
        </div>

        <div class="inline field">
            <label for="date">{{ 'dailyDevotional.label.date' | translate }}</label>
            <div id="dateDiv" class="input-group date" ng-model="dailyDevotionalDate" ng-datepicker>
                <input id="date" data-format="DD/MM/YYYY" type="text"
                       placeholder="{{ 'dailyDevotional.placeholder.date' | translate }}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </form>
</div>


<button class="ui green button" id="btn_create" ng-click="create();" ng-disabled="editing" ng-show="!dailyDevotional.id">
    <!--canAccess('/configuration/dailyDevotional:createUser') &&-->
    {{ 'default.create.new' | translate }}
</button>
<button class="ui green button" id="btn_modify" ng-click="modify();" ng-disabled="!editing" ng-show="dailyDevotional.id">
    <!--canAccess('/configuration/dailyDevotional:modifyUser') &&-->
    {{ 'default.edit' | translate }}
</button>
<button class="ui red button" id="btn_cancel" ng-click="cancel();" ng-disabled="!editing" ng-show="dailyDevotional.id">
    {{ 'default.cancel' | translate }}
</button>
<button class="ui button" id="btn_search" ng-click="search();" ng-disabled="editing">
    <!--ng-show="canAccess('/configuration/dailyDevotional:searchUser')"-->
    {{ 'default.search' | translate }}
</button>
<button class="ui button" id="btn_list" ng-click="list();" ng-disabled="editing">
    <!--ng-show="canAccess('/configuration/dailyDevotional:listUser')"-->
    {{ 'default.list.all' | translate }}
</button>
<button class="ui button" id="btn_clean" ng-click="clean();" ng-disabled="editing">
    {{ 'default.clean' | translate }}
</button>

<table class="ui centered table">
    <thead>
        <tr>
            <th class="three wide column center aligned">{{ 'dailyDevotional.column.title' | translate }}</th>
            <th class="two wide column center aligned">{{ 'dailyDevotional.column.date' | translate }}</th>
            <th class="ten wide column center aligned">{{ 'dailyDevotional.column.shortDescription' | translate }}</th>
            <th class="column center aligned">{{ 'default.operations' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dailyDevotional in dailyDevotionals" >
            <td class="three wide column">{{ dailyDevotional.title }}</td>
            <td class="two wide column center aligned">{{ dailyDevotional.date | dateFormat:'date' }}</td>
            <td class="ten wide column">{{ dailyDevotional.shortDescription }}</td>
            <td class="column center aligned">
                <i class="edit icon" ng-click="edit(dailyDevotional);" ng-show="!editing"></i>
                <!--canAccess('/configuration/dailyDevotional:modifyUser') &&-->
                <i class="trash icon" ng-click="remove(dailyDevotional);" ng-show="!editing"></i>
                <!--canAccess('/configuration/dailyDevotional:deleteUser') &&-->
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-12">
        <div ng-paginator="" name-space="dailyDevotionalNameSpace"></div>
    </div>
</div>