<div class="four wide column" ng-repeat="devotional in dailyDevotionals">
    <div class="ui card" >
        <div class="image">
            <img ng-src="{{devotional.imageUrl}}" alt="">
        </div>
        <div class="content">
            <h3 class="header">{{devotional.title}}</h3>
            <p class="description">{{devotional.shortDescription}}</p>
            <a ng-href="#/devocionales/detalle/{{devotional.id}}" class="ui blue button">Leer más</a>
        </div>
    </div>
</div>