<div ng-controller="MenuCtrl">
    <!--Default menu (not logged in)-->
    <div class="ui blue inverted menu large" ng-hide="loggedUser">
        <a class="item" href="#/home"><i class="home icon"></i>Inicio</a>
        <a class="item" href="#/ministerios"><i class="world icon"></i>Ministerios</a>
        <a class="item" href="#/devocionales"><i class="book icon"></i>Devocionales</a>
        <a class="item" href="#/gbcs"><i class="student icon"></i>GBCs</a>
        <a class="item" href="#/contacto"><i class="mail outline icon"></i>Contacto</a>

        <div class="right menu">
            <a class="item" href="#/login">Login</a>
        </div>
    </div>

    <div class="ui blue inverted menu large" ng-show="loggedUser" load-dropdowns>
        <a class="item" href="#/home">Home</a>
        <div ng-repeat="m1 in menuItems">
            <div class="ui dropdown item" ng-show="m1.options.length > 1">
                {{m1.title}}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" ng-if="m2.options.length == 0" href="" ng-repeat="m2 in m1.options" ng-click="goTo(m2.uri)">{{m2.title}}</a>
                    <div class="ui dropdown item" ng-if="m2.options.length != 0" href="" ng-repeat="m2 in m1.options" ng-click="goTo(m2.uri)">
                        {{m2.title}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" ng-if="m2.options.length == 0" href="" ng-repeat="m2 in m1.options" ng-click="goTo(m3.uri)">{{m2.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="item" ng-show="m1.options.length == 1" href="" ng-click="goTo(m1.uri)">{{m1.title}}</a>
        </div>


               <!-- <li class="dropdown" >
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <div class="removeLater" ng-repeat="m2 in m1.options" remove-later>
                            &lt;!&ndash; Single Option Case &ndash;&gt;
                            <li ng-show="m2.enabled && m2.options.length == 0">
                                <a href="" ng-click="goTo(m2.uri)">{{m2.title}}</a>
                            </li>

                            &lt;!&ndash; Multiple SubOptions Case &ndash;&gt;
                            <li class="divider" ng-show="m2.options.length != 0"></li>
                            <li class="dropdown-header" ng-show="m2.options.length != 0">{{m2.title}}</li>
                            <li ng-repeat="m3 in m2.options" ng-show="m3.enabled && m2.options.length != 0">
                                <a class="embed-right" href="" ng-click="goTo(m3.uri)">{{m3.title}}</a>
                            </li>
                            <li class="divider" ng-show="m2.options.length != 0"></li>
                        </div>
                    </ul>
                </li>
                <li class="dropdown" ng-show="m1.options.length == 0">
                    <a class="embed-right" href="" ng-click="goTo(m1.uri)">{{m1.title}}</a>
                </li>
            </ul>-->
        <div class="right menu">
            <p class="item">
                {{ loggedUser.username }} -
                <a href="" ng-click="logout()">{{ 'default.logout' | translate }}</a>
            </p>
        </div>
    </div>
</div>