<div ng-show='pagNameSpace.pageTotal > 0' class="ui pagination menu">

		<a class="item" href="" ng-show="pagNameSpace.page > 1" ng-click="first();" ng-class="{disabled: pagNameSpace.page == 1}">&lt;&lt;</a>
		<a class="item" href="" ng-show="pagNameSpace.page == 1" ng-class="{disabled: pagNameSpace.page == 1}">&lt;&lt;</a>

		<a class="item" href="" ng-show="pagNameSpace.page > 1" ng-click="previous();" ng-class="{disabled: pagNameSpace.page == 1}">&lt;</a>
		<a class="item" href="" ng-show="pagNameSpace.page == 1" ng-class="{disabled: pagNameSpace.page == 1}">&lt;</a>

		<a class="item" href="">
			<div class="ui input">
				<input id="{{ pagNameSpace.name + 'InputId' }}" class="ui input" type="text" ng-model="pagNameSpace.inputPage" ng-enter="enterPage();" ng-blur="blurInput();">
			</div>
		</a>

		<a class="item" href=""><span>/</span></a>
		<a class="item" href=""><span>{{pagNameSpace.pages}}</span></a>

		<a class="item" href="" ng-show="pagNameSpace.page < pagNameSpace.pages" ng-click="next();" ng-class="{disabled: pagNameSpace.page == pagNameSpace.pages}">&gt;</a>
		<a class="item" href="" ng-show="pagNameSpace.page == pagNameSpace.pages" ng-class="{disabled: pagNameSpace.page == pagNameSpace.pages}">&gt;</a>

		<a class="item" href="" ng-show="pagNameSpace.page < pagNameSpace.pages" ng-click="last();" ng-class="{disabled: pagNameSpace.page == pagNameSpace.pages}">&gt;&gt;</a>
		<a class="item" href="" ng-show="pagNameSpace.page == pagNameSpace.pages" ng-class="{disabled: pagNameSpace.page == pagNameSpace.pages}">&gt;&gt;</a>
</div>