<div ng-controller="MenuCtrl">
    <!--Default menu (not logged in)-->
    <div class="ui menu" ng-hide="loggedUser">
        <a class="item" href="#/home"><i class="home icon"></i>Inicio</a>
        <a class="item" href="#/ministerios"><i class="world icon"></i>Ministerios</a>
        <a class="item" href="#/devocionales"><i class="book icon"></i>Devocionales</a>
        <a class="item" href="#/gbcs"><i class="student icon"></i>GBCs</a>
        <a class="item" href="#/contacto"><i class="mail outline icon"></i>Contacto</a>

        <div class="right menu">
            <a class="item" href="#/login">Login</a>
        </div>
    </div>

    <!--Menu for logged users-->
    <div class="ui menu" ng-show="loggedUser">
        <a class="item" ng-if="loggedUser.roleType =='ADMIN'" href="#/configuration/user">Usuarios</a>
        <a class="item" ng-if="loggedUser.roleType =='ADMIN'" href="#/configuration/parameter">Par&aacute;metros</a>
        <a class="item" ng-if="loggedUser.roleType =='ADMIN' || loggedUser.roleType =='PASTOR'" href="#/devotional">Devocionales</a>

        <a class="item" href="#/contacto"><i class="mail outline icon"></i>Contacto</a>

        <div class="right menu">
            <p class="item">
                {{ loggedUser.username }} -
                <a href="" ng-click="logout()">{{ 'default.logout' | translate }}</a>
            </p>
        </div>
    </div>
</div>