<img src="resources/images/SitioEnConstruccion.jpg" width="100%" />

<!--
<h1>GBC</h1>

<article class="row">
    <header class="col-md-8 col-md-push-4">
        <a href="gbcsiloh.html">
            <h2>GBC siloh</h2>
        </a>
    </header>
    <div class="col-md-4 col-md-pull-8">
        <figure>
            <a class="thumbnail" href="#">
                <img src="..." alt="4x3 Image" class="img-responsive">
                <figcaption>Caption</figcaption>
            </a>
        </figure>
    </div>
    <div class="col-md-8 col-md-push-4">
        <p>Content</p>
    </div>
</article>-->
