<div class="row">
    <div class="col-xs-6">
        <form class="form-horizontal" role="form" name="myForm" >
            <div class="form-group">
                <label for="username" class="col-xs-4 control-label">{{ 'user.label.username' | translate }}</label>
                <div class="col-xs-8">
                    <input type="text" id="username" placeholder="{{ 'user.placeholder.username' | translate }}" class="form-control" ng-model="user.username"/>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-xs-4 control-label">{{ 'user.label.password' | translate }}</label>
                <div class="col-xs-8">
                    <input type="password" id="password" placeholder="{{ 'user.placeholder.password' | translate }}" class="form-control" ng-model="user.password"/>
                </div>
            </div>
            <div class="form-group">
                <label for="roleTypeEnum" class="col-xs-4 control-label">{{ 'roleType.label.internalType' | translate }}</label>
                <div class="col-xs-8">
                    <select id="roleTypeEnum" ng-model="roleType" ng-options="rte as ('typeRole.name.' + rte | translate) for rte in roleTypeEnumsList" class="form-control"></select>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-success" id="btn_create" ng-click="create();" ng-disabled="editing" ng-show="!user.id">
            <!--canAccess('/configuration/user:createUser') &&-->
            {{ 'default.create.new' | translate }}
        </button>
        <button class="btn btn-success" id="btn_modify" ng-click="modify();" ng-disabled="!editing" ng-show="user.id">
            <!--canAccess('/configuration/user:modifyUser') &&-->
            {{ 'default.edit' | translate }}
        </button>
        <button class="btn btn-danger" id="btn_cancel" ng-click="cancel();" ng-disabled="!editing" ng-show="user.id">
            {{ 'default.cancel' | translate }}
        </button>
        <button class="btn btn-default" id="btn_search" ng-click="search();" ng-disabled="editing">
            <!--ng-show="canAccess('/configuration/user:searchUser')"-->
            {{ 'default.search' | translate }}
        </button>
        <button class="btn btn-default" id="btn_list" ng-click="list();" ng-disabled="editing">
            <!--ng-show="canAccess('/configuration/user:listUser')"-->
            {{ 'default.list.all' | translate }}
        </button>
        <button class="btn btn-default" id="btn_clean" ng-click="clean();" ng-disabled="editing">
            {{ 'default.clean' | translate }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th class="col-xs-3">{{ 'user.column.username' | translate }}</th>
                <th class="col-xs-3">{{ 'user.column.roleType' | translate }}</th>
                <th class="col-xs-3">{{ 'default.operations' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users" >
                <td class="col-xs-3">{{ user.username }}</td>
                <td class="col-xs-3">{{ user.role.roleType.roleTypeEnum }}</td>
                <td class="col-xs-3">
                    <span class="glyphicon glyphicon-edit operation" ng-click="edit(user);" ng-show="!editing"></span>
                    <!--canAccess('/configuration/user:modifyUser') &&-->
                    <span class="glyphicon glyphicon-remove operation" ng-click="remove(user);" ng-show="!editing"></span>
                    <!--canAccess('/configuration/user:deleteUser') &&-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-paginator="" name-space="userNameSpace"></div>
    </div>
</div>